/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

section {
  padding: 5rem 3rem;
  min-height: 90vh; }

body {
  background: #0d121E;
  min-height: 100vh; }

.navigation__link {
  color: #fff8ee;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center; }

h1.title {
  font-size: 6rem; }

h2.subtitle {
  font-size: 3rem; }
  h2.subtitle--white {
    color: white; }

h2 span {
  color: #ae8858; }

h4.secondary-heading {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace; }
  h4.secondary-heading--primary {
    color: #ae8858; }

h5.tertiary-heading {
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace; }
  h5.tertiary-heading--primary {
    color: #fff8ee; }
  h5.tertiary-heading--line {
    position: relative;
    display: inline-block; }

p {
  margin: 2rem auto;
  color: white; }
  p.paragraph--white {
    color: white; }

.display--f {
  display: flex; }

.flex-d--c {
  flex-direction: column; }

.align--c {
  align-items: center; }

.align--r {
  align-items: flex-end; }

.align--l {
  align-items: flex-start; }

.text-m-l {
  font-size: 120%; }

.info {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .info__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    margin: 0.5rem auto; }
    .info__item i {
      color: #ae8858;
      padding: 0 0.5rem;
      padding: 0 0.5rem; }
    .info__item a {
      font-family: 'Courier New', Courier, monospace;
      text-decoration: none;
      color: inherit; }
    .info__item--white {
      color: white; }

.play-button img {
  width: 15rem; }

.social-media {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .social-media--plain {
    font-size: 1.8rem; }
  .social-media__item {
    padding: 0 1rem; }
    .social-media__item a {
      color: #2f2f3a; }

.button {
  display: inline-block; }
  .button a {
    text-decoration: none;
    font-size: 1.1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; }
    .button a span {
      font-weight: 400; }
  .button-primary {
    background-color: #ae8858; }
  .button--v-align {
    margin: auto; }
  .button-secondary {
    background-color: #000; }

.working-hours {
  display: flex;
  flex-direction: column;
  width: 10rem;
  justify-content: flex-start; }
  .working-hours h5 {
    font-size: 180%;
    color: #ae8858;
    display: inline-block; }
  .working-hours p {
    margin: 0.5rem 0 0 0;
    display: inline-block; }

.service-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0d121E;
  width: 20rem;
  padding: 1rem; }
  .service-card__icon {
    margin-bottom: 1rem; }
    .service-card__icon i {
      font-size: 5rem;
      color: #ae8858; }
  .service-card__description {
    color: #fff8ee;
    text-align: start; }
    .service-card__description p {
      margin: 0.5rem auto;
      padding-right: 6rem; }
  .service-card__price {
    color: #ae8858;
    font-weight: 800;
    font-size: 4rem; }
    .service-card__price span {
      font-size: 2rem; }
  .service-card__cta {
    margin-top: 1rem; }
    .service-card__cta a {
      text-decoration: none;
      color: #ae8858;
      border-bottom: 1px solid #ae8858; }

.slider-button:last-child {
  margin-top: 1.5rem; }

.slider-button * {
  padding: 0.8rem;
  border-radius: 50%;
  font-weight: 900; }
  .slider-button *:not(:last-child) {
    margin-right: 0.5rem; }

.slider-button__left {
  background: #ae8858;
  display: inline-block; }

.slider-button__right {
  background: #0d121E;
  color: #ae8858;
  display: inline-block; }

.menu {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem; }
  .menu__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end; }
    .menu__logo img {
      height: 6rem;
      margin-right: 1rem; }
    .menu__logo-container {
      height: 100%;
      flex-grow: 2; }
  .menu__navigation {
    flex-grow: 1; }
  .menu__address {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ae8858;
    letter-spacing: 0.1rem;
    text-transform: uppercase; }

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 3rem; }
  .address__location {
    margin: auto; }

.navigation__list {
  list-style: none;
  display: flex; }

.navigation__item {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.hero {
  background: linear-gradient(56deg, #0d121e 38%, rgba(13, 18, 30, 0.916889) 59%, rgba(13, 18, 30, 0.402685) 100%), url(../img/hair-spies-5P_DABYHK1A-unsplash.jpg);
  background-size: 100%;
  background-position: top 30% right;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }
  .hero__cta {
    height: 70%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .hero__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 3rem;
    height: 100%; }
  .hero__welcome {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 3rem;
    border-left: 1px solid #ae8858; }
    .hero__welcome-container {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start; }
  .row-medium {
    max-width: 90rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }
  .row .col-1-of-2 {
    flex-grow: 1; }
  .row .col-1-of-3 {
    flex-grow: 1; }
  .row .col-2-of-3 {
    flex-grow: 2; }
  .row .col-1-of-4 {
    flex-grow: 1; }
  .row .col-2-of-4 {
    flex-grow: 2; }
  .row .col-3-of-4 {
    flex-grow: 3; }

.about {
  max-width: 114rem; }
  .about__address {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
    font-family: "Courier New", Courier, monospace;
    height: 100%;
    margin-right: 4rem; }
    .about__address-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ae8858;
      height: 6rem;
      width: 5rem;
      margin: auto 1rem;
      border-radius: 10px 10px 0 10px; }
      .about__address-icon i {
        font-size: 3rem;
        padding: 1rem;
        color: white; }
  .about__description {
    width: 60%;
    color: white;
    margin: auto; }
  .about__working-hours {
    display: flex; }

.services {
  position: relative;
  background-color: #080C14;
  padding-bottom: 5rem; }
  .services__background {
    position: absolute;
    height: 100%;
    width: 33.333%;
    background: transparent url("../img/jose-pinto-yG0Z9OwXWks-unsplash.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    z-index: 0; }
  .services__container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 19%;
    margin-top: 5.55%; }
  .services__title h2 span {
    color: #ae8858; }
  .services__cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
    position: relative; }

.solutions {
  padding-top: 5.55%;
  width: 114rem; }
  .solutions__title {
    display: flex; }
    .solutions__title .title-line {
      height: 1px;
      border-top: 1px solid #ae8858;
      flex-grow: 1;
      align-self: center;
      margin-left: 1rem; }
  .solutions .container {
    display: grid;
    grid-template-columns: 44.44% 56.66%;
    width: 68.4rem;
    margin: auto;
    column-gap: 2rem; }
  .solutions__business-hours {
    display: flex;
    position: relative;
    flex-direction: column; }
  .solutions__working-hours {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem; }
    .solutions__working-hours * {
      font-size: 40%; }
    .solutions__working-hours p {
      color: #fff8ee;
      font-size: 0.4rem; }
  .solutions__image {
    width: 100%;
    margin-top: 1.5rem; }
    .solutions__image figure {
      position: relative; }
    .solutions__image img {
      width: 100%; }
    .solutions__image figcaption {
      position: absolute;
      font-size: 8rem;
      z-index: 2;
      bottom: -5%;
      right: -57%;
      font-weight: bolder;
      color: rgba(100, 100, 100, 0.3);
      line-height: 90%; }
  .solutions__best {
    padding: 1rem;
    display: flex;
    flex-direction: column; }
    .solutions__best ul {
      list-style: none; }
      .solutions__best ul li {
        display: flex; }
        .solutions__best ul li:not(:last-child) {
          margin-bottom: 1.5rem; }
        .solutions__best ul li i {
          display: inline-block;
          color: #ae8858;
          margin-top: 0.2rem; }
        .solutions__best ul li p {
          margin: 0;
          padding-left: 1rem; }
    .solutions__best .button {
      margin-top: 5rem;
      justify-self: flex-start; }
