$black-main: #0d121E;
$black-secondary: #2f2f3a;
$white-main: #fff8ee;

$primary-main: #ae8858;


// GRID
$grid-width: 114rem;
$grid-medium-width: 90rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 8rem;