.about {
  &__address {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
    font-family: "Courier New", Courier, monospace;
    height: 100%;
    margin-right: 4rem;
    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primary-main;
      height: 6rem;
      width: 5rem;
      margin: auto 1rem;
      border-radius: 10px 10px 0 10px;
      i {
        font-size: 3rem;
        padding: 1rem;
        color: white;
      }
    }
  }
}
