.services {
  position: relative;
  background-color: $black-tertiary;
  padding-bottom: 5rem;
  &__background {
    position: absolute;
    height: 100%;
    width: 33.333%;
    background: transparent url("../img/jose-pinto-yG0Z9OwXWks-unsplash.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    z-index: 0;
  }
  &__container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 19%;
    margin-top: 5.55%;
  }
  &__title {
    & h2 span {
      color: $primary-main;
    }
  }
  &__cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
    position: relative;
  }
}
