.services {
  position: relative;
  background-color: $black-tertiary;
  &__background {
    position: absolute;
    height: 100%;
    width: 33.333%;
    background: transparent url("../img/jose-pinto-yG0Z9OwXWks-unsplash.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    z-index: 0;
  }
  &__container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 19%;
  }
  &__title {
    & h2 span {
        color: $primary-main;
    }
  }
}
